/* Estilo para el fondo de la página */
body {
    display: flex;
    flex-direction: column;
    background-color: #0a090e; /* Cambiar el color de fondo */
    color: gray; /* Color por defecto para todo el texto */
    font-family: 'Playfair Display', sans-serif; /* Estilo de fuente general */
}
.parrafo1 {
    display: flex; /* Habilitar flexbox */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Separar título e imagen */
    flex-wrap: wrap; /* Reorganizar en columna si es necesario */
    gap: 30px; /* Espaciado entre el texto y la imagen */
    padding: 0px; /* Espaciado interno */
    margin: 0px; /* Márgenes externos */
}

h1 {
    flex: 1; /* Permitir que ocupe espacio proporcional */
    font-size: 2rem; /* Tamaño de texto */
    text-align: center; /* Alinear el texto a la izquierda */
    margin: 0 20px 0 0; /* Margen derecho e izquierdo */
    color: #bf930d;
}

.contenedor_img1 img {
    align-items: center; /* Centrar verticalmente */
    width: 100%; /* Imagen responsiva */
    height: auto; /* Mantener proporciones */
    border-radius: 10px; /* Bordes redondeados opcionales */
}

.parrafo2 {
    display: flex;
    justify-content: center; /* Separar título e imagen */
    flex-wrap: wrap; /* Reorganizar en columna si es necesario */
    padding: 0px; /* Espaciado interno */
    margin: 0px; /* Márgenes externos */
}

.extras {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Separar título e imagen */
    align-items : center; /* Centrar verticalmente */
    list-style: none;
}

.galeria-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; 
}

.galeria-imagenes img {
    width: 200px; 
    height: auto;
    margin: 10px;
    border-radius: 5px;
}

.cookie-footer {
    position: fixed; /* Siempre visible al final de la pantalla */
    bottom: 0; /* Pegado a la parte inferior */
    left: 0;
    right: 0;
    background-color:#a6a99e;
    color: #000; 
    padding: 1px;
    display: flex; /* Organiza el contenido de manera horizontal */
    justify-content: center; /* Espacia el texto y el botón */
    align-items: center;
  }
  
  .cookie-footer button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .cookie-footer button:hover {
    background-color: #45a049; /* Efecto al pasar el ratón sobre el botón */
  }