/* Estilo para el fondo de la página */
body {
    background-color: #0a090e; /* Cambiar el color de fondo */
    color: gray; /* Color por defecto para todo el texto */
}
h1 {
    text-align: center; /* Centrar el texto */
    font-family: Playfair Display, sans-serif; /* Estilo de fuente general */
}
.prueba1 {
    font-family: Playfair Display, sans-serif; /* Estilo de fuente general */
    margin-top: 10px;    /* Margen superior de 50px */
    margin-right: 10px;  /* Margen derecho de 20px */
    margin-bottom: 10x; /* Margen inferior de 30px */
    margin-left: 40px;   /* Margen izquierdo de 10px */
}
p {
    font-family: Playfair Display, sans-serif; /* Estilo de fuente general */
    margin: 20px; /* 20px de margen en todos los lados */
}
li {
    font-family: Playfair Display, sans-serif; /* Estilo de fuente general */
}
.contenedor_img1 {
    display: flex;
    justify-content: Right; /* Centra la imagen horizontalmente */
    align-items: Right;    /* Centra la imagen verticalmente */
    height: 80px;          /* Altura del contenedor */
    margin-top: -100px;    /* Margen superior de 50px */
    margin-right: 380px;  /* Margen derecho de 20px */
    margin-bottom: 10x; /* Margen inferior de 30px */
    margin-left: 0px;   /* Margen izquierdo de 10px */
}